@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/Museo/Museo300-Regular.eot");
  src: url("../fonts/Museo/Museo300-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo/Museo300-Regular.woff") format("woff"), url("../fonts/Museo/Museo300-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Medium';
  src: url("../fonts/Museo/Museo500-Regular.eot");
  src: url("../fonts/Museo/Museo500-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo/Museo500-Regular.woff") format("woff"), url("../fonts/Museo/Museo500-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/Museo/Museo700-Regular.eot");
  src: url("../fonts/Museo/Museo700-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo/Museo700-Regular.woff") format("woff"), url("../fonts/Museo/Museo700-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.button {
  padding: 17px 30px;
  font-size: 16px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  border: none;
  background-color: #ffd200;
  border-radius: 10px;
}

.button:hover {
  background-color: #ffe466;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:active {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
}

.input {
  font-size: 15px;
  padding: 26px;
  border-radius: 10px;
  border: 1px solid #dddddd;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  margin-bottom: 8px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-text__contacts {
  text-align: right;
  margin-right: 30px;
}

.header-text__city {
  display: block;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 9px;
}

.header-text__phone {
  display: block;
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.hidden-x1 {
  display: none;
}

.main {
  background: #f5f5f5;
  padding: 60px 0;
}

.main-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__text-block {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.main__title {
  font-size: 41px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 1.34;
  margin-bottom: 50px;
}

.main__subtitle {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 69px;
}

.main__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__advantages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.main__advantages-icon {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.main__advantages-text {
  font-size: 14px;
  line-height: 1.71;
  margin-left: 30px;
  max-width: 231px;
}

.main__advantages .icon-clock {
  background-image: url("../img/main/clock-circular-outline.png");
}

.main__advantages .icon-calc {
  background-image: url("../img/main/calculator.png");
}

.main__advantages .icon-art {
  background-image: url("../img/main/paint-board-and-brush.png");
}

.main__img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
  position: relative;
}

.feedback {
  padding: 94px 0;
  background: url("../img/design-project.png") no-repeat center left 700px;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.feedback:before {
  content: '';
  rigth: 0;
  top: 0;
  width: 60%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  z-index: -1;
}

.form {
  max-width: 575px;
  display: inline-block;
}

.form__title {
  font-size: 24px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 1.46;
  margin-top: 0;
  margin-bottom: 49px;
}

.form__subtitle {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 49px;
}

.form__input {
  width: 270px;
  margin-bottom: 30px;
}

.form__input:first-child {
  margin-right: 30px;
}

.form__button {
  padding: 28px;
  display: block;
  width: 100%;
  margin-bottom: 31px;
}

.form__help-inf {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

.form__manager-connect {
  width: 224px;
  line-height: 1.6;
  margin: 0;
  display: inline-block;
}

.form__callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.form__callback_icon {
  width: 40px;
  height: 40px;
  border: 2px solid #cccccc;
  border-radius: 50%;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/phone-receiver.png");
}

.form__callback_text {
  width: 189px;
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 0;
  line-height: 1.6;
}

.form__callback_text span {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.portfolio {
  background-image: url("../portfolio/bg-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 158px;
}

.portfolio:before {
  content: '';
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background-color: #f5f5f5;
  position: absolute;
  z-index: -1;
}

.portfolio__section-title {
  margin-bottom: 98px;
}

.portfolio__slider {
  margin-top: 0 auto;
}

.portfolio__slider-item {
  text-align: center;
}

.portfolio__slider-item img {
  margin: auto;
}

.arrow {
  width: 45px;
  height: 19px;
  margin: auto;
  position: absolute;
  bottom: -68px;
}

.arrow_right {
  left: 50%;
  background-image: url("../portfolio/arrow-right.png");
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.arrow_left {
  left: 50%;
  background-image: url("../portfolio/arrow-left.png");
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
}

.arrow:hover {
  cursor: pointer;
}

.price-catalog {
  padding-top: 100px;
  padding-bottom: 62px;
}

.price-catalog__table {
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  display: -ms-grid;
  -ms-grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-gap: 30px;
}

.price-catalog__item {
  max-width: 370px;
  max-height: 410px;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #f5f5f5;
  text-align: center;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0);
          box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0);
}

.price-catalog__item:hover {
  -webkit-box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0px 8px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.price-catalog__item-img {
  position: relative;
}

.price-catalog__item-img:after {
  content: '';
  height: 0;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
}

.price-catalog__item-img:hover:after {
  height: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.price-catalog__price-link {
  font-size: 16px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  display: inline-block;
  position: relative;
}

.price-catalog__price-link:after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ffd200;
  display: block;
  position: absolute;
  bottom: -4px;
  z-index: -1;
}

.price-catalog__price-link:hover:after {
  height: 13px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.advantages {
  padding-top: 100px;
}

.advantages__main-title {
  margin: 0 auto 59px;
  max-width: 685px;
}

.advantages__main-subtitle {
  font-size: 20px;
  margin: 0 auto 58px;
  text-align: center;
}

.advantages__table {
  margin-bottom: 97px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.advantages__table img {
  margin: 0 auto;
}

.advantages__item {
  width: 149px;
  text-align: center;
  margin: 0 auto;
}

.advantages__item p {
  margin: 0 auto;
  max-width: 148px;
  font-size: 14px;
  line-height: 1.43;
}

.advantages__icon {
  width: 100px;
  height: 100px;
  margin: 11px auto 30px;
  border: 4px solid #ffd200;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__lower-block {
  padding-top: 99px;
  padding-bottom: 100px;
  background-color: #ffc000;
}

.advantages__lower-block h2 {
  font-size: 32px;
  line-height: 1.56;
  text-align: center;
  margin: 0 auto;
}

.guaranties {
  padding-top: 100px;
  padding-bottom: 70px;
}

.guaranties__img-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 143px;
  overflow: hidden;
}

.guaranties__img-item {
  width: 300px;
  height: 410px;
  padding: 27px 26px 0;
  position: relative;
  margin: 0 auto 30px;
  background-color: #f5f5f5;
  z-index: 1;
}

.guaranties__img-item p {
  max-width: 288px;
  font-size: 16px;
  line-height: 1.44;
}

.guaranties__img-item p span {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.guaranties__img-item img {
  position: absolute;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: -1;
}

.guaranties__section-title {
  margin: 0 auto 99px;
  max-width: 656px;
}

.guaranties__sertif-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 41px;
  text-align: center;
}

.guaranties__sertif-block {
  width: 270px;
  margin: 0 auto 30px;
}

.guaranties__sertif-block p {
  font-size: 18px;
  line-height: 1.33;
}

.guaranties__sertif-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 360px;
  margin-bottom: 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 20px solid #f5f5f5;
}

.guaranties__sertif-item img {
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto auto;
}

.price-form {
  background-image: url("../img/price-form-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.price-form:before {
  content: '';
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #ffc000;
  position: absolute;
  z-index: -1;
}

.price-form__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-form__left-block h2 {
  font-size: 22px;
  margin-top: 100px;
  margin-bottom: 50px;
  max-width: 520px;
}

.price-form__subtitle-1 {
  font-size: 16px;
  margin-bottom: 70px;
}

.price-form__list {
  display: inline-block;
  margin-bottom: 93px;
}

.price-form__list-point {
  max-width: 460px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.price-form__list-point p {
  margin: 0;
  padding-left: 2px;
  font-size: 18px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.price-form__digit {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #333333;
  border-radius: 50%;
  margin-right: 32px;
}

.price-form__digit p {
  display: inline-block;
  font-size: 16px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.price-form__right-block {
  text-align: center;
  display: inline-block;
}

.price-form__right-block .price-form__title {
  max-width: 356px;
  margin: 100px auto 52px;
}

.price-form__title {
  font-size: 22px;
  display: inline-block;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.price-form__form {
  max-width: 375px;
}

.price-form__input {
  width: 375px;
}

.price-form__input_name {
  margin-bottom: 15px;
}

.price-form__button {
  width: 375px;
  height: 70px;
  margin-top: 30px;
  margin-bottom: 33px;
}

.price-form__help-inf p {
  margin: 0 auto;
}

.price-form__manager-connect {
  display: inline-block;
  margin: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__map {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-height: 640px;
}

.footer__contacts {
  padding-top: 100px;
  padding-left: 220px;
}

.footer__contacts h2 {
  max-width: 293px;
  line-height: 1.5;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 100px;
  text-align: left;
}

.footer__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 39px;
}

.footer__data img {
  margin-top: 5px;
  margin-right: 25px;
}

.footer__data p {
  font-size: 16px;
  line-height: 1.63;
  width: 145px;
}

.footer__data p span {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
  margin: auto;
  font-size: 16px;
  color: #333333;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.section-title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 1400px) {
  .container {
    width: 90%;
  }
  .price-form__container {
    width: 90%;
  }
}

@media (max-width: 1199px) {
  .main__title {
    font-size: 38px;
  }
  .feedback:before {
    width: 70%;
  }
  .feedback__form {
    margin: 0 auto;
  }
  .feedback__input {
    width: 150px;
  }
  .portfolio:before {
    width: 30%;
  }
  .portfolio__slider-item img {
    max-width: 95%;
  }
  .footer__contacts {
    padding-left: 150px;
  }
  .price-form__container {
    width: 100%;
  }
  .price-form__input, .price-form__button {
    width: 300px;
  }
  .price-form__left-block {
    max-width: 440px;
  }
  .price-form__left-block h2 {
    margin: 100px auto 50px;
    text-align: center;
  }
  .price-form__left-block:nth-child(1) {
    text-align: center;
  }
  .price-form__list-point p {
    text-align: left;
  }
}

@media (max-width: 992px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .main__title {
    font-size: 30px;
    line-height: 1.2;
  }
  .main__img {
    -webkit-transform: none;
            transform: none;
  }
  .button:hover {
    background-color: #ffd200;
    cursor: default;
  }
  .feedback {
    background-image: none;
    text-align: center;
  }
  .feedback:before {
    display: none;
  }
  .feedback__form {
    margin: 0 auto 0;
  }
  .feedback__form__title {
    text-align: center;
  }
  .feedback__form__input {
    width: 100%;
  }
  .portfolio {
    padding-top: 50px;
    padding-bottom: 110px;
  }
  .portfolio:before {
    background: none;
  }
  .price-form__input, .price-form__button {
    width: 500px;
  }
  .price-form__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price-form:before {
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48%;
    background-color: #ffc000;
    position: absolute;
    z-index: -1;
  }
  .price-form__left-block {
    margin: 0 auto;
  }
  .price-form__left-block h2 {
    margin: 70px auto 30px;
    text-align: center;
  }
  .price-form__left-block:nth-child(1) {
    text-align: center;
  }
  .price-form__list {
    margin-bottom: 93px;
  }
  .price-form__list-point p {
    text-align: left;
  }
  .price-form__form {
    margin-top: 50px;
    max-width: 100%;
    margin-bottom: 50px;
  }
  .price-form__form .price-form__title {
    margin: 0 auto 52px;
  }
  .price-catalog {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .price-catalog__table {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .price-catalog__item:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .price-catalog__item-img:after {
    background-image: none;
  }
  .price-catalog__price-link:hover:after {
    height: 3px;
    -webkit-transition: 0;
    transition: 0;
  }
  .advantages {
    padding-top: 50px;
  }
  .advantages__table {
    margin-bottom: 40px;
  }
  .advantages__arrow {
    display: none;
  }
  .advantages__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages__item {
    width: 200px;
    margin-bottom: 20px;
  }
  .advantages__lower-block {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages__lower-block h2 {
    font-size: 22px;
  }
  .guaranties {
    margin-bottom: 0;
    padding-top: 70px;
    padding-bottom: 40px;
  }
  .guaranties__img-table {
    margin-bottom: 40px;
  }
  .guaranties__section-title {
    margin: 0 auto 40px;
  }
  .footer__contacts {
    padding-left: 100px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .section-title {
    font-size: 24px;
  }
  .container {
    width: 95%;
    margin: auto;
  }
  .hidden-x3 {
    display: none;
  }
  .header-text__contacts {
    margin-right: 15px;
  }
  .main {
    padding-top: 30px;
  }
  .main-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__text-block {
    max-width: 400px;
    margin: auto;
  }
  .main__title {
    font-size: 32px;
  }
  .main__title, .main__subtitle {
    text-align: center;
  }
  .header-text__phone {
    font-size: 14px;
  }
  .price-form__left-block h2 {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .price-form__subtitle-1 {
    margin-bottom: 40px;
  }
  .price-form__input, .price-form__button {
    width: 400px;
  }
  .price-form__form {
    margin-top: 0;
  }
  .form {
    width: 100%;
  }
  .form__help-inf {
    font-size: 12px;
  }
  .form__callback_icon {
    width: 20px;
    height: 20px;
    background-size: 10px;
  }
  .form__callback_text {
    margin-left: 10px;
    max-width: 160px;
  }
  .form__manager-connect {
    max-width: 130px;
  }
  .form__input {
    width: 100%;
  }
  .form__input:first-child {
    margin-right: 0;
  }
  .form__button {
    width: 100%;
    font-size: 14px;
    padding: 20px;
  }
  .portfolio__section-title {
    margin-bottom: 40px;
  }
  .advantages__main-title {
    margin-bottom: 40px;
  }
  .advantages__main-subtitle {
    margin-bottom: 38px;
  }
  .advantages__lower-block {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .advantages__lower-block h2 {
    font-size: 20px;
  }
  .guaranties__img-table {
    margin: 0 auto 50px;
  }
  .guaranties__sertif-table {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .guaranties__sertif-table:last-child {
    margin-bottom: 0;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__contacts {
    padding: 0;
  }
  .footer__contacts h2 {
    margin: 50px auto 60px;
    text-align: center;
    max-width: 500px;
  }
  .footer__data {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 567px) {
  .header__button {
    padding: 14px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .section-title {
    font-size: 22px;
  }
  .header-logo {
    width: 120px;
  }
  .header-text__contacts {
    margin-right: 15px;
  }
  .header-text__phone {
    font-size: 14px;
  }
  .header-text__city {
    font-size: 12px;
  }
  .header__button {
    padding: 12x;
    font-size: 12px;
  }
  .main__title {
    font-size: 26px;
  }
  .form__title {
    font-size: 21px;
  }
  .portfolio__section-title {
    font-size: 24px;
  }
  .price-form__input, .price-form__button {
    width: 95%;
  }
  .price-catalog__table {
    margin: 0 auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .advantages__arrow {
    display: none;
  }
  .advantages__table {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 410px) {
  .header-logo {
    width: 91px;
  }
  .header__button {
    padding: 11px;
    font-size: 11px;
  }
  .header-text__contacts {
    margin-right: 6px;
  }
  .hidden-x2 {
    display: none;
  }
  .hidden-x1 {
    display: inline-block;
  }
}

.modal {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.52);
  left: 0;
  top: 0;
  z-index: 2;
}

.modal_visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__dialog {
  width: 1170px;
  background-color: #ffffff;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__left-block {
  width: 600px;
  height: 100%;
  background: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__left-container {
  margin-left: auto;
  margin-right: auto;
}

.modal__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 15px;
}

.modal__image-text {
  margin-left: 29px;
}

.modal__image-text p {
  font-size: 16px;
  line-height: 22px;
}

.modal__image-text p span {
  font-weight: bold;
}

.modal__image-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12x;
  text-align: left;
}

.modal__image-title:after {
  display: block;
  content: '';
  margin-top: 13px;
  margin-bottom: 12px;
  width: 42px;
  height: 2px;
  background: #ffd200;
}

.modal__price-items {
  margin-top: 53px;
  padding: 0;
}

.modal__price-items h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 28px;
}

.modal__price-items div {
  color: #ffd200;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__price-items div:before {
  display: block;
  content: '';
  width: 7px;
  height: 7px;
  left: 0;
  right: 0;
  background: #ffd200;
  border-radius: 50%;
  margin-right: 14px;
}

.modal__price-items div span {
  color: #333333;
  font-size: 14px;
}

.modal__right-block {
  width: 570px;
  padding-top: 50px;
  padding-bottom: 38px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__right-block h3 {
  margin-top: 0;
  margin-bottom: 52px;
  font-size: 22px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  line-height: 1.5;
  width: 294px;
}

.modal__input {
  width: 370px;
  margin-bottom: 15px;
}

.modal__button {
  width: 370px;
  height: 70px;
  margin-top: 15px;
  margin-bottom: 33px;
}

.modal__callback-text {
  margin: 0;
  width: 290px;
  line-height: 1.5;
}

.modal__callback-text span {
  font-size: 20px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .modal__dialog {
    width: 90%;
  }
  .modal__left-block {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .modal__left-container {
    width: 80%;
  }
  .modal__right-block {
    padding-top: 40px;
    padding-bottom: 28px;
  }
  .modal__right-block h3 {
    margin-bottom: 25px;
  }
  .modal__subtitle {
    margin-bottom: 25px;
  }
  .modal__price-items {
    margin-top: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .modal__dialog {
    width: 500px;
  }
  .modal__left-block {
    display: none;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .modal__right-block {
    padding-top: 30px;
  }
  .modal__callback-text {
    width: 290px;
  }
  .modal__subtitle {
    margin-bottom: 25px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .modal__callback-text {
    margin: 0;
    width: 290px;
  }
  .modal__dialog {
    width: 480px;
  }
  .modal__left-block {
    display: none;
  }
  .modal__right-block {
    padding-top: 30px;
  }
  .modal__callback-text {
    width: 290px;
  }
  .modal__subtitle {
    margin-bottom: 25px;
  }
}

@media (min-width: 410px) and (max-width: 576px) {
  .modal__dialog {
    max-width: 400px;
  }
  .modal__left-block {
    display: none;
  }
  .modal__right-block {
    margin: 0 auto;
    width: 300px;
  }
  .modal__right-block h3 {
    max-width: 290px;
    font-size: 18px;
    margin-bottom: 25px;
  }
  .modal__subtitle {
    width: 280px;
    margin-bottom: 25px;
  }
  .modal__input {
    width: 280px;
  }
  .modal__button {
    max-width: 280px;
  }
  .modal__callback-text {
    font-size: 14px;
  }
  .modal__callback-text span {
    font-size: 18px;
  }
}

@media (max-width: 410px) {
  .modal__dialog {
    max-width: 300px;
  }
  .modal__left-block {
    display: none;
  }
  .modal__right-block {
    margin: 0 auto;
    width: 300px;
  }
  .modal__right-block h3 {
    max-width: 290px;
    font-size: 18px;
  }
  .modal__subtitle {
    width: 280px;
  }
  .modal__input {
    width: 280px;
  }
  .modal__button {
    max-width: 280px;
  }
  .modal__callback-text {
    font-size: 14px;
  }
  .modal__callback-text span {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */