.advantages
  &__table
    margin-bottom: 97px
    display: grid
    grid-template-columns: repeat(9, 1fr)
    & img
      margin: 0 auto

  &__item
    width: 149px
    text-align: center
  &__item p
    font-size: 14px
    line-height: 1.43
  &__icon
    width: 100px
    height: 100px
    margin: 11px auto 30px
    border: 4px solid $primary-color
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
  &__lower-block
    background-color: $primary-bg-color