.feedback
  padding: 94px 0
  background: url('../img/design-project.png') no-repeat center left 700px
  background-size: cover
  // object-fit: cover
  // transform: scale(1.1)
  position: relative
  z-index: 1
  &:before
    content: ''
    rigth: 0
    top: 0
    width: 60%
    height: 100%
    background-color: #ffffff
    position: absolute
    // background-size: cover
    z-index: -1

.form
  max-width: 575px
  display: inline-block
  &__title
    font-size: 24px
    line-height: 1.46
    margin:
      top: 0
      bottom: 49px
  &__subtitle
    font-size: 16px
    margin:
      top: 0
      bottom: 49px
  &__input
    width: 270px
    margin-bottom: 30px
    &:first-child
      margin-right: 30px
  &__button
    padding: 28px
    display: block
    width: 100%
    margin-bottom: 31px
  &__help-inf
    width: 100%
    display: flex
    justify-content: space-between
    font-size: 15px
  &__manager-connect
    width: 224px
    line-height: 1.6
    margin: 0
    display: inline-block
  &__callback
    display: flex
    flex-direction: row
  &__callback_icon
      width: 40px
      height: 40px
      border: 2px solid #cccccc
      border-radius: 50%
      background-size: 15px
      background-repeat: no-repeat
      background-position: center
      background-image: url('../img/phone-receiver.png')

  &__callback_text
    width: 189px
    margin:
      top: 0
      left: 30px
      bottom: 0
    line-height: 1.6
    span
      +bold
    
