@font-face {
  font-family: 'Museo Sans Light';
  src: url('../fonts/Museo/Museo300-Regular.eot');
  src: url('../fonts/Museo/Museo300-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo/Museo300-Regular.woff') format('woff'),
  url('../fonts/Museo/Museo300-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Museo Sans Medium';
  src: url('../fonts/Museo/Museo500-Regular.eot');
  src: url('../fonts/Museo/Museo500-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo/Museo500-Regular.woff') format('woff'),
  url('../fonts/Museo/Museo500-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Museo Sans Bold';
  src: url('../fonts/Museo/Museo700-Regular.eot');
  src: url('../fonts/Museo/Museo700-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Museo/Museo700-Regular.woff') format('woff'),
  url('../fonts/Museo/Museo700-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }