@media (max-width: 1199px)
  .container
    max-width: 970px
  .portfolio
    &__slider
      &-item
        img
          max-width: 95%

  .price-form
    &__input, &__button
      width: 300px
    &__left-block
      h2
        margin: 100px auto 50px
        text-align: center
      &:nth-child(1)
        text-align: center
    &__list-point p
      text-align: left

  .guaranties
    &__img-table
      display: grid
      grid-template-columns: 1fr 1fr
      grid-gap: 50px
    &__img-item
      width: 300px
      background-color: $light-bg-color
      z-index: -1

      img
        height: 90%

    
    // h2 > p
    //   text-align: center

@media (max-width: 992px)
  .container
    width: 767px
    margin: auto
  .main
    &__title
      font-size: 30px
      line-height: 1.2
    &__img
      transform: none
  .feedback
    // background: #ffffff
    background-image: none
    &:before
      display: none
  .form
    margin: 0 auto 0
    &__title
      text-align: center
    &__input
      width: 100%
  .portfolio
    background-size: 100% 100%
    &:before
      background: none

  .price-form
    &__input, &__button
      width: 500px
    &__flex-container
      flex-direction: column  
    &:before
      content: ''
      left: 0
      bottom: 0
      width: 100%
      height: 52%
      background-color: $primary-bg-color
      position: absolute
      z-index: -1
    &__left-block
      h2
        margin: 100px auto 50px
        text-align: center
      &:nth-child(1)
        text-align: center
    &__list
      margin-bottom: 93px
    &__list-point p
      text-align: left
    &__right-block
      margin-top: 50px
      margin-bottom: 60px
    &__form &__title
      margin: 0 auto 52px

  .price-catalog
    &__table
      grid-template-columns: 1fr 1fr

  .advantages
    &__arrow
      display: none
    &__table
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 20px
  .guaranties
    &__sertif-table
      grid-template-columns: 1fr
      grid-gap: 50px




    


@media (max-width: 768px)
  .container
    width: 95%
    margin: auto
  .hidden-xl
    display: none
  .main
    &-wrap
      flex-direction: column
    &__text-block
      max-width: 400px
      margin: auto
    &__title, &__subtitle
      text-align: center
  .header-text__phone
    font-size: 14px
  .price-form
    &__input, &__button
      width: 400px

  .guaranties
    &__img-table
      grid-template-columns: 1fr
    &__img-item
      margin: 0 auto




@media (max-width: 480px)
  .container
    width: 95%
  .header-logo
    width: 100px
  .header-text
    &__phone
      font-size: 12px
    &__city
      font-size: 10px
    &__button button
      padding: 18px
  .feedback
    .form
      &__help-inf
        font-size: 12px
      &__callback_icon
        width: 20px
        height: 20px
        background-size: 10px
      &__callback_text
        margin-left: 10px
        max-width: 160px
      &__manager-connect
        max-width: 130px
  .portfolio
    &__section-title
      font-size: 24px
  .price-form
    &__input, &__button
      width: 95%
  .price-catalog
    &__table
      margin: 0 auto
      grid-template-columns: 1fr

  .advantages
    &__arrow
      display: none
    &__table
      grid-template-columns: 1fr
      grid-gap: 20px


