@media (min-width: 991px) and  (max-width: 1199px)
  .modal
    &__dialog
      width: 980px

@media (min-width: 768px) and  (max-width: 991px)
  .modal
    &__dialog
      width: 570px
    &__left-block
      display: none

@media (min-width: 576px) and  (max-width: 768px)
  .modal
    &__dialog
      width: 560px
    &__left-block
      display: none

@media (min-width: 320px) and  (max-width: 576px)
  .modal
    &__dialog
      width: 300px
    &__left-block
      display: none
    &__right-block
      width: 300px
      h3
        width: 290px
    &__subtitle
      width: 280px
    &__input
      width: 280px
    &__button
      width: 280px
    &__callback-text
      width: 280px

