@import 'var'
@import 'normalize'
@import 'mixins'
@import 'fonts'
@import 'interface'

@import 'header'
@import 'main'
@import 'feedback'

body
  font-family: 'Museo Sans Light', sans-serif
  color: $text-color
  overflow-x: hidden

img
  max-width: 100%

.container
  width: 1170px
  margin: 0 auto
  
@import 'media'